/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
*/

a.font-flatiron{
  background-color: rgb(78, 177,225);
  border: rgb(78, 177, 225);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style-type: none;
}

.list-inline {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-family: 'Fjalla One', sans-serif;
}

.basic-font {
  font-family: 'Fjalla One', sans-serif;
}

.nav-item a {
  padding-left: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.nav-item a:active, .nav-item a:visited, .nav-item a:link {
  color: #fff;

}

.nav-item a:hover {
  color: #aaa;
  text-decoration: none;
}
